.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* height: 600px; */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input[type="text"],
.modal textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.cancelButton {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

.saveButton {
  background-color: green;
}

.cancelButton {
  background-color: #e22626;
}

.saveButton:hover,
.cancelButton:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .modal {
    width: 80%;
  }
}
